{% load static %}
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <!-- Logo desktop -->
                    <div class="sidebar-brand">
                        <a href="{% url 'dashboard:homePage' %}">
                            <img src="{% static 'assets/img/logo1.png' %}" 
                                style="height: 150px; padding-bottom: -10px; margin-bottom: -30px;" >
                        </a><br>
                        <a href="{% url 'main:homePage' %}">Home</a>
                    </div>
                    <!-- Logo desktop end -->
                    <!-- Logo mobile -->
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a 
                            href="{% url 'main:homePage' %}">
                        <img src="{% static 'assets/img/logo1.png' %}" 
                            style="height: 150px;" >
                        Dashboard
                        </a><br>
                    </div>
                    <!-- Logo mobile end -->
                    <!-- Menu -->
                    <ul class="sidebar-menu" style="padding-top: 50px;">
                        <li 
                            class="nav-item dropdown active">
                            <a 
                                href="#" 
                                class="nav-link has-dropdown">
                            <i class="fas fa-fire"></i>
                            <span>Category</span>
                            </a>
                            <!------------ Category ---------------->
                            <ul class="dropdown-menu">
                                <!-- Define the path parameter -->
                                <!-- Applying the path parameter -->
                                <li 
                                    class="
                                    ">
                                    <a 
                                        class="nav-link" 
                                        href="/dashboard/categories/">
                                    All categories
                                    </a>
                                </li>
                                <!-- Applying the path parameter -->
                                <li class="">
                                    <a 
                                        class="nav-link" 
                                        href="/dashboard/categories/create/">
                                    Add category
                                    </a>
                                </li>
                            </ul>
                            <!------------ Category end ------------>
                            <!---------- Sub Category -------------->
                            <ul class="dropdown-menu">
                                <!-- Define the path parameter -->
                                <!-- Applying the path parameter -->
                                <li 
                                    class="
                                    ">
                                    <a 
                                        class="nav-link" 
                                        href="/dashboard/subcategories/">
                                    All subcategories
                                    </a>
                                </li>
                                <!-- Applying the path parameter -->
                                <li class="">
                                    <a 
                                        class="nav-link" 
                                        href="/dashboard/subcategories/create/">
                                    Add subcategory
                                    </a>
                                </li>
                            </ul>
                            <!---------- Sub Category end ---------->
                        </li>
                    </ul>
                    <!-- Menu end -->
                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="/dashboard/logout_process/" class="btn btn-primary btn-lg btn-block btn-icon-split">
                        <i class="fas fa-rocket"></i> Log Out
                        </a>
                    </div>
                </aside>
            </div>