<!-- apps/dashboard/templates/dashboard/categories.html -->
{% extends 'dashboard/base.html' %}

<!-- Blok title -->
{% block title %}
Dashboard | Home
{% endblock title %}
<!-- END Blok title -->

<!-- Block custome css -->
{% block custom_css %}
{% endblock custom_css %}
<!-- END Block custome css -->

<!-- Block page title -->
{% block page_title %}
Dashboard--------
{% endblock page_title %}
<!-- END Block page title -->

<!-- Block main content -->
{% block main_content %}
            <div class="main-content">
                <section class="section">
                    <!-- Page title -->
                    <div class="section-header">
                        <h1>
                            Category List
                        </h1>
                    </div>
                    <!-- Page title end -->
                    <!-- Messages for error or success -->
                    <!-- Messages for error or success end -->
                    <!-- Main page content -->
                    <div class="row">
                        <!-- Category card -->
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <article class="article article-style-b">
                                <div class="article-header">
                                    <div class="article-image" data-background="/media/5fa58abe1df1d5001821952e.jpg" style="background-image: url(&quot;../assets/img/news/img13.jpg&quot;);">
                                    </div>
                                    <div class="article-badge">
                                        <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i>Electronics1</div>
                                    </div>
                                </div>
                                <div class="article-details">
                                    <p>Desc: Electronics categories</p>
                                    <p><span class="badge badge-light">Url slug: Electronics1</span></p>
                                    <div class="article-cta">
                                        <label 
                                            class="custom-switch mt-2" 
                                            style="float:left; padding-left: 0px;">
                                        <input 
                                            type="checkbox" 
                                            name="custom-switch-checkbox" 
                                            class="custom-switch-input" 
                                            checked >
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Active</span>
                                        </label>
                                        <a 
                                            href="/dashboard/categories/update/1/" 
                                            class="btn btn-warning">Edit <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Category card end -->
                        <!-- Category card -->
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <article class="article article-style-b">
                                <div class="article-header">
                                    <div class="article-image" data-background="/media/5fa58abe1df1d5001821952e_J7ihZmY.jpg" style="background-image: url(&quot;../assets/img/news/img13.jpg&quot;);">
                                    </div>
                                    <div class="article-badge">
                                        <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i>Electronics</div>
                                    </div>
                                </div>
                                <div class="article-details">
                                    <p>Desc: Electronics categories</p>
                                    <p><span class="badge badge-light">Url slug: Electronics</span></p>
                                    <div class="article-cta">
                                        <label 
                                            class="custom-switch mt-2" 
                                            style="float:left; padding-left: 0px;">
                                        <input 
                                            type="checkbox" 
                                            name="custom-switch-checkbox" 
                                            class="custom-switch-input" 
                                            checked >
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Active</span>
                                        </label>
                                        <a 
                                            href="/dashboard/categories/update/2/" 
                                            class="btn btn-warning">Edit <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Category card end -->
                        <!-- Category card -->
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <article class="article article-style-b">
                                <div class="article-header">
                                    <div class="article-image" data-background="/media/50fdbd11700123e6ff11b830dfcb3740.jpg" style="background-image: url(&quot;../assets/img/news/img13.jpg&quot;);">
                                    </div>
                                    <div class="article-badge">
                                        <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i>Fashion</div>
                                    </div>
                                </div>
                                <div class="article-details">
                                    <p>Desc: Fashion</p>
                                    <p><span class="badge badge-light">Url slug: Fashion</span></p>
                                    <div class="article-cta">
                                        <label 
                                            class="custom-switch mt-2" 
                                            style="float:left; padding-left: 0px;">
                                        <input 
                                            type="checkbox" 
                                            name="custom-switch-checkbox" 
                                            class="custom-switch-input" 
                                            checked >
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Active</span>
                                        </label>
                                        <a 
                                            href="/dashboard/categories/update/3/" 
                                            class="btn btn-warning">Edit <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Category card end -->
                        <!-- Category card -->
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <article class="article article-style-b">
                                <div class="article-header">
                                    <div class="article-image" data-background="/media/toys.jpg" style="background-image: url(&quot;../assets/img/news/img13.jpg&quot;);">
                                    </div>
                                    <div class="article-badge">
                                        <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i>Toys</div>
                                    </div>
                                </div>
                                <div class="article-details">
                                    <p>Desc: Description of toys Description of toys Description of toys Description …</p>
                                    <p><span class="badge badge-light">Url slug: Toys</span></p>
                                    <div class="article-cta">
                                        <label 
                                            class="custom-switch mt-2" 
                                            style="float:left; padding-left: 0px;">
                                        <input 
                                            type="checkbox" 
                                            name="custom-switch-checkbox" 
                                            class="custom-switch-input" 
                                            checked >
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Active</span>
                                        </label>
                                        <a 
                                            href="/dashboard/categories/update/4/" 
                                            class="btn btn-warning">Edit <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Category card end -->
                        <!-- Category card -->
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <article class="article article-style-b">
                                <div class="article-header">
                                    <div class="article-image" data-background="/media/sports.jpg" style="background-image: url(&quot;../assets/img/news/img13.jpg&quot;);">
                                    </div>
                                    <div class="article-badge">
                                        <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i>Sport</div>
                                    </div>
                                </div>
                                <div class="article-details">
                                    <p>Desc: Description of toys Description of toys Description of toys Description …</p>
                                    <p><span class="badge badge-light">Url slug: Sport</span></p>
                                    <div class="article-cta">
                                        <label 
                                            class="custom-switch mt-2" 
                                            style="float:left; padding-left: 0px;">
                                        <input 
                                            type="checkbox" 
                                            name="custom-switch-checkbox" 
                                            class="custom-switch-input" 
                                            checked >
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Active</span>
                                        </label>
                                        <a 
                                            href="/dashboard/categories/update/5/" 
                                            class="btn btn-warning">Edit <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Category card end -->
                    </div>
                    <!-- Main page content end -->
                </section>
            </div>
{% endblock main_content %}
<!-- END Block main content -->

<!-- Block custome js -->
{% block custom_js %}

{% endblock custom_js %}
<!-- END Block custome js -->

