<!-- apps/dashboard/templates/dashboard/index.html -->
{% extends 'dashboard/base.html' %}

<!-- Blok title -->
{% block title %}
Dashboard | Home
{% endblock title %}
<!-- Blok title end -->

<!-- Block custome css -->
{% block custom_css %}
{% endblock custom_css %}
<!-- Block custome css end -->

<!-- Block page title -->
{% block page_title %}
Dashboard--------
{% endblock page_title %}
<!-- Block page title end -->

<!-- Block main page content -->
{% block main_content %}
            <div class="main-content">
                <section class="section">
                    
                    <!-- Page title -->
                    <div class="section-header">
                        <h1>
                            Dashboard
                        </h1>
                    </div>
                    <!-- Page title end -->

                    <!-- Main page content -->
                    <h2>Simple Dashboard Empty Page using Block</h2>
                    <!-- Main page content end -->
                </section>
            </div>
{% endblock main_content %}
<!-- Block main page content end -->

<!-- Block custome js -->
{% block custom_js %}

{% endblock custom_js %}
<!-- Block custome js end -->