<!-- apps/dashboard/templates/dashboard/index.html -->
{% extends 'dashboard/base.html' %}

<!-- Blok title -->
{% block title %}
Dashboard | Home
{% endblock title %}
<!-- END Blok title -->

<!-- Block custome css -->
{% block custom_css %}
{% endblock custom_css %}
<!-- END Block custome css -->

<!-- Block page title -->
{% block page_title %}
Dashboard--------
{% endblock page_title %}
<!-- END Block page title -->

<!-- Block main content -->
{% block main_content %}
            <div class="main-content">
                <section class="section">

                    <!-- Page title -->
                    <div class="section-header">
                        <h1>
                            Dashboard
                        </h1>
                    </div>
                    <!-- Page title end -->

                    <!-- Main page content -->
                    <h2>Simple Dashboard Empty Page using Block</h2>
                    <!-- Main page content end -->

                </section>
            </div>
{% endblock main_content %}
<!-- END Block main content -->

<!-- Block custome js -->
{% block custom_js %}

{% endblock custom_js %}
<!-- END Block custome js -->